#login {
  background: #1c2627 url("../assets/imgs/plain.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // .scroll-content {
  //   display: table !important;
  //   width: 100% !important;
  //   height: 100% !important;

    // form {
    //   // display: table-cell;
    //   vertical-align: middle;

    //   .header {
    //     padding-bottom: 20px;

    //     img {
    //       display: block;
    //       width: 80%;
    //       margin: 0 auto;
    //     }
    //   }
      
    //   .login-button {
    //       width: 100%;
    //       border-radius: 30px;
    //       font-size: 0.9em;
    //       border: 1px solid #fff;
    //       background-color: #39acdc;
    //   }

    //   .button.button-light.active, .button.button-light.activated {
    //     color: #fff;
    //     opacity: inherit;
    //   // }
    // }
  // }
}